*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}


.padre{
    display: flex;
    flex-flow: column nowrap;
}

.margen-interno{
    padding: 0 50px;
}

    .header{
        background: url(imagenes/fondo2.jpg);
        background-position: center;
        background-attachment:contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            background: rgba(0,0,0,.1);
            display: flex;
            flex-flow: row nowrap;
            height: 60px;
            align-items: center;
            border-bottom: 1px solid rgba(255,255,255,.5);
        }
            .logo{
              
                flex: 1 1 auto;
            }
                .logo a{
                    color: #fff;
                    font-size: 20px;
                }

                .logo a:hover{
                    color: #343434;
                }

            .nav{
          
                flex: 5 1 auto;
            }
                .nav a{
                    color: #fff;
                    font-size: 11px;
                    text-transform: uppercase;
                    padding: 0 15px;
                    letter-spacing: 2px;
                }

                .nav a:hover{
                    color: #343434;
                }

            .social{
          
                flex: 1 1 auto;
                display: flex;

            }
                .social a{
                    font-size: 18px;
                    color: #fff;
                    padding: 0 10px;
                }

                .social a:hover{
                    color: #343434;
                }

        .texto-principal{
            height: 500px;
            display: flex;
            align-items: center;
        }
            h1{
                font-family: 'Lora', serif;
                font-size: 50px;
                color: #fff;
                font-weight: 300;
                text-align: center;
                line-height: 1.6;
                margin-left: auto;
                margin-right: auto;
            }
        
        .texto{
            display: flex;
            align-items: center;
        }            
            .texto p{
                color: #fff;
                margin-left: auto;
                margin-right: auto;
                margin-top: -400px;
                font-size: 25px;
            }

    .section{
        background: #f7f7f7;
        display: flex;
        flex-flow: column nowrap;
    }
        .contenido1{
            background: #fff;
            flex: 1 1 auto;    
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            padding: 35px 0px;
        }
            .article1{
                flex: 1 1 25%;
                color: #444;
                font-size: 13px;
                letter-spacing: 1px;
                margin: 10px 10px 0 0px;
                background: #fff;
            }

                .article1 p{
                    text-align: justify;
                    width: 300px;
                    margin-right: auto;
                    margin-left: auto;
                }

            .article2{
                flex: 1 1 25%;
                background: #fff;
                margin: 10px 10px 0 0px;
            }
                .article2 img{
                    width: 80%;
                    margin-left: 10%;
                }

        .contenido2{
            background: #fff;
            flex: 1 1 auto;  
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            padding: 35px 0px;
        }
            .article3{
                flex: 1 1 25%;
                background: #fff;
                margin: 10px 10px 0 0px;
            }

                .article3 img{
                    width: 80%;
                    margin-left: 10%;
                }

            .article4{
                flex: 1 1 25%;
                color: #444;
                font-size: 13px;
                letter-spacing: 1px;
                margin: 10px 10px 0 0px;
                background: #fff;
            }

                .article4 p{
                    text-align: justify;
                    width: 300px;
                    margin-right: auto;
                    margin-left: auto;
                }

        .contenido3{
            background: #fff;
            flex: 1 1 auto;  
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            padding: 35px 0px;
        }

            .article5{
                flex: 1 1 25%;
                color: #444;
                font-size: 13px;
                letter-spacing: 1px;
                margin: 10px 10px 0 0px;
                background: #fff;
            }

            .article5 p{
                text-align: justify;
                width: 300px;
                margin-right: auto;
                margin-left: auto;
            }

            .article6{
                flex: 1 1 25%;
                background: #fff;
                margin: 10px 10px 0 0px;
            }

                .article6 img{
                    width: 80%;
                    margin-left: 10%;
                }

    .footer{
        background: #000;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
        .pie{
            text-align: center;
        }
            .pie a{
                color: #fff;
                font-size: 11px;
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 2px;
            }