*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: border-box;
  }

a{
    text-decoration: none;
}


.padre{
    display: flex;
    flex-flow: column nowrap;
}

.margen-interno{
    padding: 0 100px;
}

    .header{
        
        background: url(imagenes/fondo.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment:contain;
        background-origin: content-box;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            background: rgba(0,0,0,.1);
            display: flex;
            flex-flow: row nowrap;
            height: 60px;
            align-items: center;
            border-bottom: 1px solid rgba(255,255,255,.5);
            font-family: 'Montserrat', sans-serif;
        }
            .logo{
              
                flex: 1 1 auto;
            }
                .logo a{
                    color: #fff;
                    font-size: 20px;
                }

                .logo a:hover{
                    color: #343434;
                }

            .nav{
          
                flex: 5 1 auto;
            }
                .nav a{
                    color: #fff;
                    font-size: 12px;
                    text-transform: uppercase;
                    padding: 0 15px;
                    letter-spacing: 2px;
                }

                .nav a:hover{
                    color: #343434;
                }

            .social{
          
                flex: 1 1 auto;
                display: flex;

            }
                .social a{
                    font-size: 18px;
                    color: #fff;
                    padding: 0 10px;
                }

                .social a:hover{
                    color: #343434;
                }

        
            .intro{
                font-family: Arial, Helvetica, sans-serif;
                margin: 30px;
                padding: 30px;
                box-sizing: border-box;
                padding: 0 150px;
            }

            .intro p{
                margin-top: 10px;
            }
            .intro h3{
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }

            .parrafo{
                font-family: 'Roboto Slab', serif;
                font-size: 15px;
                letter-spacing: 1px;
                line-height: 1.6;
            }

            .margen{
                margin: -25px 10px 0px 10px;
                padding: 10px;
                box-sizing: border-box;

            }

            .section{
                
                padding: 0 150px;
            }
                .locales{
                    background: #f7f7f7;
                    display: flex;
                    flex-flow: row nowrap;
                    height: 300px;
                    align-items: center;
                    border-radius: 25px;
                    border: 2px solid #ff9a76;
                    padding: 20px;
                    margin: 20px;
                    
                }
        
                    .imagen{
                        background: #f7f7f7;
                        flex: 2 1 auto;
                        align-self: center;
                        
                    }
        
                        .imagen img{
                            width: 300px;
                            display: block;
                            margin-left: auto;
                            margin-right: auto;
                            height: 200px;
                            border-radius: 10%;
                        }
        
                    .contenido{
                        background: #f7f7f7;
                        flex: 7 1 auto;
                        height: 200px;
                        width: 500px;
                        
                    }
        
                        .info{
                            
                            font-size: 15px;
                            letter-spacing: 1px;
                            color: #222831;
                        }
        
                            .info p{
                                
                                margin: 0;
                                margin-bottom: -10px;
                                margin: 10px;
                                padding: 10px;
                            }
                
                .tabla_med{
                    display: flex;
                    flex-flow: column nowrap;
                    height: 230px;
                    margin-right: 10px;
                }

                .fixed::-webkit-scrollbar{
                    width: 7px;
                }

                .fixed{
                    overflow-y: auto;
                    overflow-x: hidden;
                }

                .tabla td{
                    text-align: center;
                }

                .table_row th{
                    position: -webkit-sticky; 
                    position: sticky;
                    top: 0;
                    z-index: 5;
                    background: #2bb2bb;
                    color: #fff;  
                    font-family: 'Montserrat', sans-serif;
                    font-size: 15px;
                    padding: 10px;                  
                }

                #myInput {
                
                    background-position: 10px 10px;
                    background-repeat: no-repeat;
                    width: 75%;
                    font-size: 16px;
                    padding: 12px 20px 12px 40px;
                    border: 1px solid #ddd;
                    margin-bottom: 12px;
                  }

                  .input-icons i { 
                    position: absolute; 
                } 
                  
                .input-icons { 
                    width: 100%; 
                    margin-bottom: 10px; 
                } 
                  
                .icon { 
        
                    padding: 10px; 
                    min-width: 40px; 
                    margin-top: 6px;
                    
                } 

                .input-icons input{
                    border: 1px solid #ddd;
                }


                    

