*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}


.padre{
    display: flex;
    flex-flow: column nowrap;
}

.margen-interno{
    padding: 0 50px;
}

    .header{
        background: url(imagenes/fond.jpg);
        background-position: center;
        background-attachment:contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            background: rgba(0,0,0,.1);
            display: flex;
            flex-flow: row nowrap;
            height: 60px;
            align-items: center;
            border-bottom: 1px solid rgba(255,255,255,.5);
        }
            .logo{
              
                flex: 1 1 auto;
            }
                .logo a{
                    color: #fff;
                    font-size: 20px;
                }

                .logo a:hover{
                    color: #343434;
                }

            .nav{
          
                flex: 5 1 auto;
            }
                .nav a{
                    color: #fff;
                    font-size: 12px;
                    text-transform: uppercase;
                    padding: 0 15px;
                    letter-spacing: 2px;
                }

                .nav a:hover{
                    color: #343434;
                }

            .social{
          
                flex: 1 1 auto;
                display: flex;

            }
                .social a{
                    font-size: 18px;
                    color: #fff;
                    padding: 0 10px;
                }

                .social a:hover{
                    color: #343434;
                }

        .texto-principal{
            height: 400px;
            display: flex;
            align-items: center;
        }
            h1{
                font-family: 'Lora', serif;
                font-size: 50px;
                color: #162447;
                font-weight: 300;
                text-align: center;
                line-height: 1.6;
                margin-left: auto;
                margin-right: auto;
                margin-top: -100px;
            }
        
        .texto{
            display: flex;
            align-items: center;
        }            
            .texto p{
                color: #162447;
                margin-left: auto;
                margin-right: auto;
                margin-top: -400px;
                font-size: 28px;
                text-shadow: -2px 0px white;
            }

    .section{
        background: #fff;
        display: flex;
        flex-flow: column nowrap;
        margin: 100px 0;
    }

        .contenido{
            background: #fff;
            flex: 1 1 auto;    
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            padding: 35px 0px;
            align-content: center;
        }

            .article1{
                flex: 1 1 50%;
                color: #444;
                font-size: 13px;
                letter-spacing: 1px;
                margin: 10px 10px 0 0px;
                background: #fff;
                align-self: center;
            }

                .article1 p, h2{
                    text-align: justify;
                    width: 350px;
                    margin-left: auto;
                    margin-right: auto;
                }

            .article2{
                flex: 1 1 50%;
                background: #fff;
                margin: 10px 10px 0 0px;
                align-self: center;
            }

                .article2 img{
                    width: 300px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    height: 300px;
                    border-radius: 50%;
                }

            .parrafos{
                font-family: 'Roboto Slab', serif;
                font-size: 15px;
            }

            .pos_art1{
                margin-left: 10%;
                margin-right: auto;
            }

            .pos_art2{
                margin-left: auto;
                margin-right: 10%;
            }

            .pos_img1{
                margin-left: auto;
                margin-right: 10%;
            }

            .pos_img2{
                margin-left: 10%;
                margin-right: auto;
            }



    .footer{
        background: white;
        display: flex;
        flex-flow: row nowrap;
        margin: 0;
        padding:0 50px;
        box-sizing: border-box;
        margin-top: 50px;
    }
        .form{
            background: #f7f7f7;
            flex: 1 1 auto;
            width: 250px;
            padding: 15px 0 30px 30px;
            display:flex;
            flex-flow: column;
            font-family: 'calibri';
            border-radius: 4px;
            color: #24303c;
        }

            .form h4{
                margin-bottom: 20px;
                color: #24303c;
            }

            .form p{
                font-size: 15px;
                line-height: 40px;
            }

            .form a{
                color: #24303c;
                text-decoration: none;
            }

            .form a:hover{
                color: #24303c;
                text-decoration: underline;
            }
        
        .control{
            background: #f7f7f7;
            padding: 8px;
            border-radius: 4px;
            margin-bottom: 16px;
            border: 1px solid #1f53c5;
            font-family: 'calibri';
            font-size: 15px;
            color: #24303c;
            width: 80%;
        }

        .boton{
            font-size: 16px;
            width: 20%;
            border-radius: 10px;
        }
        

        .more_info{
            background: #f7f7f7;
            flex: 1 1 auto;
            width: 200px;
            font-family: 'calibri';
            padding: 15px 0 30px 30px;

        }

            .more_info h4{
                margin-bottom: 20px;
                color: #24303c;
            }

            .more_info p{
                width: 65%;
                text-align: justify;
            }

            .redes{
          
                flex: 1 1 auto;
                display: flex;

            }
                .redes a{
                    font-size: 30px;
                    color: #1b6ca8;
                    padding: 0 15px;
                }

                .redes a:hover{
                    color: #343434;
                }
            
            .icono_pie{
                padding: 0 10px;
            }

            .h4_pie {
                margin-top: 8px;
            }
        

