*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: border-box;
  }

a{
    text-decoration: none;
}


.padre{
    display: flex;
    flex-flow: column nowrap;
}

.margen-interno{
    padding: 0 100px;
}

    .header{
        
        background: url(imagenes/fondo.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment:contain;
        background-origin: content-box;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            background: rgba(0,0,0,.1);
            display: flex;
            flex-flow: row nowrap;
            height: 60px;
            align-items: center;
            border-bottom: 1px solid rgba(255,255,255,.5);
            font-family: 'Montserrat', sans-serif;
        }
            .logo{
              
                flex: 1 1 auto;
            }
                .logo a{
                    color: #fff;
                    font-size: 20px;
                }

                .logo a:hover{
                    color: #343434;
                }

            .nav{
          
                flex: 5 1 auto;
            }
                .nav a{
                    color: #fff;
                    font-size: 12px;
                    text-transform: uppercase;
                    padding: 0 15px;
                    letter-spacing: 2px;
                }

                .nav a:hover{
                    color: #343434;
                }

            .social{
          
                flex: 1 1 auto;
                display: flex;

            }
                .social a{
                    font-size: 18px;
                    color: #fff;
                    padding: 0 10px;
                }

                .social a:hover{
                    color: #343434;
                }

        
            .intro{
                font-family: Arial, Helvetica, sans-serif;
                margin: 30px;
                padding: 30px;
                box-sizing: border-box;
                padding: 0 150px;
            }

            .intro p{
                margin-top: 10px;
            }

            .parrafo{
                font-family: 'Roboto Slab', serif;
                font-size: 15px;
                letter-spacing: 1px;
                line-height: 1.6;
            }

            .margen{
                margin: -10px 10px 0px 10px;
                padding: 10px;
                box-sizing: border-box;

            }

            .section{
                
                padding: 0 150px;
            }
                .locales{
                    background: #f7f7f7;
                    display: flex;
                    flex-flow: row nowrap;
                    height: 300px;
                    align-items: center;
                    border-radius: 25px;
                    border: 2px solid #ff9a76;
                    padding: 20px;
                    margin: 20px;
                    
                }
        
                    .imagen{
                        background: #f7f7f7;
                        flex: 2 1 auto;
                        align-self: center;
                        
                    }
        
                        .imagen img{
                            width: 300px;
                            display: block;
                            margin-left: auto;
                            margin-right: auto;
                            height: 200px;
                            border-radius: 10%;
                        }
        
                    .contenido{
                        background: #f7f7f7;
                        flex: 7 1 auto;
                        height: 200px;
                        width: 500px;
                        
                    }
        
                        .info{
                            font-size: 15px;
                            letter-spacing: 1px;
                            color: #222831;
                        }
        
                            .info p{
                                margin: 0;
                                margin-bottom: -10px;
                                margin: 10px;
                                padding: 10px;
                            }
        
                    .boton{
                        background: #f7f7f7;
                        flex: 1 1 auto;
                        height: 200px;
                        text-align: center;
                        
                    }
        
                    .boton2{
                        color: #494949 !important;
                        text-decoration: none;
                        background: #f7f7f7;
                        padding: 10px;
                        border: 2px solid #f6b93b;
                        display: inline-block;
                        transition: all 0.4s ease 0s;
                        cursor: pointer;
                        margin-top: 60%;
                    }

                    .boton2:hover{
                        color: #ffffff !important;
                        background: #f6b93b;
                        border-color: #f6b93b !important;
                        transition: all 0.4s ease 0s;
                    }

                    .modal {
                        position: fixed;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) scale(0);
                        transition: 200ms ease-in-out;
                        border: 1px solid black;
                        border-radius: 10px;
                        z-index: 10;
                        background-color: white;
                        width: 500px;
                        max-width: 80%;
                      }
                      
                      .modal.active {
                        transform: translate(-50%, -50%) scale(1);
                      }
                      
                      .modal-header {
                        padding: 10px 15px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 1px solid #0e9aa7;
                      }
                      
                      .modal-header .title {
                        font-size: 1.25rem;
                        font-weight: bold;
                        color: #0e9aa7;
                      }
                      
                      .modal-header .close-button {
                        cursor: pointer;
                        border: none;
                        outline: none;
                        background: none;
                        font-size: 1.25rem;
                        font-weight: bold;
                        color:#0e9aa7;
                      }
                      
                      .modal-body {
                        padding: 10px 15px;
                        font-family: Arial, Helvetica, sans-serif;
                      }

                      .modal-body li{
                          padding: 5px;
                          margin-left: 5px;
                          color:#0e9aa7;
                      }
                      
                      #overlay {
                        position: fixed;
                        opacity: 0;
                        transition: 200ms ease-in-out;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: rgba(0, 0, 0, .5);
                        pointer-events: none;
                      }
                      
                      #overlay.active {
                        opacity: 1;
                        pointer-events: all;
                      }

                      .logo_medic{
                          margin-right: 5px;
                      }

