body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: url(imagenes/fondo.jpg);
}

*{
    box-sizing: border-box;
}

.contenedor{
    width: 100%;
    padding: 15px;
}

.formulario{
    background: #fff;
    margin-top: 150px;
    padding: 3px;
}

h1{
    text-align: center;
    color: #0e9aa7;
    font-size: 40px;
}

input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
    outline: none;
}

.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}

.boton{
    text-align: center;
}

.button{
    margin:auto;
    display:block;
    border: none;
    width: 40%;
    color: white;
    font-size: 20px;
    background: #0e9aa7;
    padding: 15px 20px;
    border-radius: 5%;
    cursor: pointer;
}


@media(min-width:768px){
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 5%;
    }
}