*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.padre{
     display: flex;
     flex-flow: column nowrap;
     padding: 0 150px;
}

    .section{
        background: #f7f7f7;
    }
        .locales{
            background: #f7f7f7;
            display: flex;
            flex-flow: row nowrap;
            height: 300px;
            align-items: center;
            border-radius: 25px;
            border: 2px solid #ff9a76;
            padding: 20px;
        }

            .imagen{
                background: #f7f7f7;
                flex: 2 1 auto;
                align-self: center;
                
            }

                .imagen img{
                    width: 300px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    height: 200px;
                    border-radius: 10%;
                }

            .contenido{
                background: #f7f7f7;
                flex: 7 1 auto;
                height: 200px;
                width: 500px;
                
            }

                .info{
                    font-size: 15px;
                    letter-spacing: 1px;
                    color: #222831;
                }

                    .info p{
                        margin: 0;
                        margin-bottom: -10px;
                    }

            .boton{
                background: #f7f7f7;
                flex: 1 1 auto;
                height: 200px;
                text-align: center;
                
            }

            .boton2{
                font-size: 16px;
                border-radius: 10px;
                margin-bottom: -100%;
            }